* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    -webkit-font-smoothing:antialiased;
}
body{
    background: #f0f0f0;
    font-size:62.5%;
}
a{
    color: #000;
}
li{
    list-style: none;
}
em{
    font-style: normal;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.b-yellow{
    border-left:5px solid #ffd000;
}
.b-green{
    border-left: 5px solid #9ed969;
}
.b-blue{
    border-left: 5px solid #80eaba;
}
/*header*/
.m_header{
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 9;
}
.m_header_bar{
    display: flex;
    position: relative;
    height: 50px;
    background: #2dbb55;
    color: #fff;
}
.m_header_bar .mhb_left .go_to_home{
    display: inline-block;
    width: 24px;
    height: 24px;
    padding:15px 10px 11px 15px;
    cursor: pointer;
}
.m_header_bar .mhb_left .go_to_home i{
    display: block;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
.m_header_bar a{
    color: #fff;
}
.m_header_bar .mhb_left .go_to_search{
    display: inline-block;
    width: 24px;
    height: 24px;
    padding:15px 10px 11px 10px;
}
.m_header_bar .mhb_left .go_to_place{
    position: relative;
    display: inline-block;
    line-height:50px;
    font-size: 16px;
    top: -4px;
}

.m_header_bar .mhb_left .go_to_search i{
    display: block;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
}
.m_header .mnb-center{
    flex: 1;
    line-height: 50px;
    text-align: center;
}
.m_header .mnb-center .title{
    margin: 0;
    font-size:17px;
}
.m_header_bar .mnb-right{
    float: right;
}
.m_header_bar .mnb-right .account{
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height:24px;
    padding:15px 0;
    text-align: right;
    cursor: pointer;
}
.m_header_bar .mnb-right .account i{
    display: block;
    margin-left: 14px;
    font-size: 24px;
    line-height: 20px;
    color: #fff;
}
.m_header_bar .mnb-right .navigation{
    position: relative;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding:17px 24px 13px 5px;
    text-align: center;
    cursor: pointer;
}
.navigation i{
    position: absolute;
    top: 22px;
    right: 10px;
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    transition: all 0.3s ease-in;
}
.up{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/*搜索记录页*/
.m_header_search{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background:#fff;
    z-index: 20;
    display: none;
}
.m_header_search .search_bar{
    position: relative;
    height: 30px;
    line-height: 30px;
    padding:10px 0;
}
.m_header_search .search_bar .search_cancel{
    float: left;
    padding:0 10px;
    height: 30px;
    line-height: 30px;
    font-size:1rem;
    color:#2dbb55;
    cursor: pointer;
}
.m_header_search .search_bar .search_main{
    display: flex;
    position: relative;
    height: 30px;
    line-height: 30px;
}
.search_main input[type=text]{
    width: 100%;
    height: 30px;
    text-indent: 0;
    border: 0 none;
    resize:none;
    outline:none;  /*清除选中效果的默认蓝色边框 */
    -webkit-appearance:none;  /*清除浏览器默认的样式 */
    line-height: normal;   /*光标问题*/
    background: #e5e5e5;
    padding:5px 30px 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:2px;
}
.search_main .fa-search{
    display: inline-block;
    width: 45px;
    height: 30px;
    line-height: 30px;
    font-size:1.2rem;
    text-align: center;
    color: #2dbb55;
}
.fa-times{
    position: absolute;
    right: 48px;
    width: 18px;
    height: 18px;
    line-height:18px;
    margin-top: 6px;
    text-align: center;
    color: #fff;
    background: #999;
    border-radius: 10px;
}
.search_content{
    margin: 0 10px;
}
.search_content .search_hot_place{
    background: #fff;
    overflow: hidden;
}
.search_content .title{
    margin-bottom: 10px;
    line-height: 36px;
    font-size: 0.12rem;
    color: #999;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.search_hot_place .place_list{
    margin-right:-10px;
}
.search_hot_place .place_list .lists{
    float: left;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom:10px;
}
.search_hot_place .place_list .lists a{
    display: block;
    line-height:30px;
    color: #666;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius:2px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.search_more_place{
    width: 100%;
    text-align: center;
}
.search_more_place a{
    font-size:14px;
    color: #2dbb55;
}
/*导航*/
.m_header_nav{
    position: fixed;
    top: 50px;
    border-top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    z-index:15;
    border-left: 1px solid #ddd;
    display: none;
}
.stop_roll{
    height:100%;
    overflow:hidden;
}
.m_header_nav ul{
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-right:none;
    border-bottom:none;
}
.m_header_nav ul li{
    float: left;
    width: 33.33%;
    padding:18px 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index:20;
}
.a{
}
.m_header_nav ul li a{
    position: relative;
    display: block;
    height: 20px;
    line-height:20px;
    margin-left:14.5%;
    font-size: 14px;
    text-align: center;
    color: #000;
}
.m_header_nav i{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.m_header_nav ul li a span{
    display: block;
    width: 56px;
    height: 20px;
    line-height: 20px;
    margin-left: 30px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.phone_app{
    width: 100%;
    background: #ebebeb;
    padding-top: 10px;
}
.phone_app>div{
    float: left;
    width: 50%;
    text-align: center;
    background: #fff;
}
.phone_app>div a{
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    border-right:none;
    border-top:none;
}
.phone_app .text{
    display: block;
    padding:0;
    padding-top: 15px;
    font-size: 13px;
    color: #999;
}
.phone_app .number{
    font-size: 16px;
    color: #f80;
    font-weight:bold;
}
.index .main{
    position: relative;
    top:50px;
    margin-bottom: 60px;
}
    /*main*/
.product_detailed{
    position: relative;
    top: 50px;
    margin-bottom: 60px;
}
.v_container,.product_slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.v_container .v_show,.product_slider .slider_bar{
    position: relative;
    display: block;
    height:auto;
    overflow: auto;
}
.v_container .v_show li,.product_slider .slider_bar li{
    float: left;
    height:auto;
}
.v_container a,.product_slider a{
    display: block;
    width: 100%;
}
.v_container img,.product_slider img{
    display: block;
    width: 100%;
}

/*点击按钮*/
#pagenavi{
    position: absolute;
    bottom: 6px;
    height: 14px;
    width: 100%;
    text-align: center;
}
#pagenavi span{
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height:99em;
    border-radius: 50%;
    background: #fff;
    margin:0 2px;
}
#pagenavi .current{
    background: #ff8a00;
}
.channel_title{
    margin-top: 10px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    padding-left:5px;
    background:#fff;
}
.exhibition{
    padding: 10px;
    background: #fff;
    overflow:hidden;
}
.exhibition>div{
    display: flex;
    width: 100%;
}
.exhibition div a{
    flex:1;
    display: inline-block;
    width: 50%;
}
.exhibition div a:first-child{
    float: left;
    padding-right: 5px;
}
.exhibition div a:last-child{
    float: right;
    padding-left: 5px;
}
.exhibition .e-bar .img{
    height:auto;
}
.exhibition .e-bar .img img{
    width: 100%;
    height: 100%;
}
.exhibition .e-bar .p_title{
    margin-top: 5px;
    height: 22px;
    line-height: 22px;
    color: #333;
    overflow: hidden;
}
.exhibition .e-bar .tit{
    height: 22px;
    line-height: 22px;
    color: #999;
    overflow: hidden;
}
.exhibition .e-bar .info{
    height: 26px;
    line-height:26px;
    color: #999;
}
.exhibition .e-bar .info .type{
    float: left;
}
.exhibition .e-bar .info .price{
    float: right;
}
.exhibition .e-bar .info .price strong{
    color: #f60;
}
.hot-place{
    width: 100%;
    table-layout:fixed;
    border-collapse:collapse;
    background: pink;
}
.hot-place{
    overflow: hidden;
    font-size: 12px;
    background: #fff;
    border: 1px solid #eee;
    border-left:none;
    border-right:none;
}
.hot-place tr td{
    text-align: center;
    height: 40px;
    line-height:40px;
    border: 1px solid #eee;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hot-place tr td a{
    display: block;
    height: 100%;
    color: #000;
}
/*国内服务列表*/
.service_list_bar{
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background: #fff;
}
.service_list{
    position: absolute;
    left: 0;
    height: 60px;
    white-space:normal;
    overflow: hidden;
}
.service_list_bar .service_list li{
    float: left;
}
.service_list_bar .service_list a{
    display: block;
    width: 64px;
    margin:0 auto;
    padding:5px 0;
    color: #000;
    text-align: center;
}
.service_list_bar .service_list a i{
    display: block;
    width: 100%;
    height: 30px;
    margin:3px auto;
    line-height:30px;
    font-size: 1.8rem;
    color: #23cc77;
}
.service_list_bar .service_list a span{
    display: block;
    width: auto;
    font-size:12px;
}

/*products*/
.products{
    position: relative;
    height:auto;
    background: #fff;
    overflow: hidden;
}
.product_wrap{
    height: 130px;
    z-index:8;
    top: 50px;
    background: #fff;
}
.products .style{
    position: relative;
    height: 45px;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    z-index:8;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.fixed{
    position: fixed;
}
.style li{
    float: left;
    height: 45px;
    text-align: center;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.active{
    color: #23cc77;
    border-bottom: 2px solid #23cc77;
}
.domestic_hot_place{
    padding: 15px;
    overflow: hidden;
    z-index:99;
    background: #fff;
    top: 95px;
}
.domestic_hot_place li{
    float: left;
    display: block;
    width: 25%;
    line-height: 25px;
    font-size:12px;
    text-align: center;
}
.select{
    background: #23cc77;
    border-radius: 20px;
}

/*产品列表*/
.products{
    position: relative;
}
.place_wrap{
    background: #f0f0f0;
}
.place_wrap .product_list{
    margin-bottom: 10px;
    background: #fff;
}
.item_top{
    position: relative;
}
.item_top .product_img{
    position: relative;
    height: 150px;
    overflow: hidden;
}
.item_top .product_img img{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.item_top .product_img span{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 20px;
    background:rgba(0,0,0,0.3);
    box-shadow:0 20px 25px -20px rgba(255,255,255,0.4) inset;
}
.item_top .people_satisfied{
    position: absolute;
    right: 10px;
    bottom: 3px;
    color: #fff;
    font-size:12px;
}
.item_top .people_satisfied .people{
    margin-right: 6px;
}
.item_top .product_type{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding:0 10px;
    color: #fff;
    background:rgba(0,0,0,.6);
    border-radius:20px;
}
.item_top .product_type .separate{
    position: relative;
    bottom: -1px;
    display: inline-block;
    width: 1px;
    height: 12px;
    border-left: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.item_top .product_price{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90px;
    font-size:12px;
    color: #fff;
    text-align: center;
}
.item_top .product_price .price_now{
    line-height: 31px;
    background: #f70;
}
.item_top .product_price .price_now em{
    font-size:16px;
}
.item_top .product_price .discount{
    line-height: 20px;
    background: #484848;
}
.item_content{
    padding:10px 15px;
    overflow: hidden;
}
.item_content .product_tit{
    margin-right: 20px;
    line-height: 22px;
    font-size:16px;
    color: #000;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.item_content .product_txt{
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.product_tag{
    height: 19px;
    overflow: hidden;
    white-space:nowrap;
    margin-bottom: 3px;
}
.product_tag li{
    float: left;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 10px;
    color: #999;
    border: 1px solid #ccc;
    -webkit-font-smoothing:antialiased;
}
.product_tag li:nth-child(1){
    border-color:#FF5500;
    color: #ff5500;
}
.product_tag li:nth-child(2){
    border-color:#FF765B;
    color: #FF765B;
}
.item_comment{
    height: 18px;
    line-height:18px;
    padding:8px 15px;
    overflow: hidden;
    color: #333;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.item_comment .leave_word{
    font-size: 12px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
/*底部*/
.product_footer{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left:15px;
    background: #fff;
    border-top: 1px solid #eee;
}
.product_footer .online_service,.phone_service,.collection{
    display: inline-block;
    flex: 1;
    color: #666;
    text-align: center;
}
.product_footer i{
    margin-top: 5px;
    font-size:22px;
}
.product_footer p{
    margin-top: 5px;
}
.product_footer .next_step{
    width: 38%;
    padding-right: 10px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #f80;
}
.footer-container{
    display: inline-block;
    width: 100%;
    background: #fff;
    font-size:12px;
    color: #999;
    text-align: center;
}
.footer-container .f-img-service{
    display: flex;
    width: 90%;
    height: 75px;
    margin:20px auto;
}
.footer-container  a{
    color: #9fa19f;
    font-size: 12px;
}
.footer-container .f-img-service li{
    flex:1;
    text-align: center;
}
.footer-container .f-img-service li div{
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align: center;
    border:1px solid #e3e3e3;
    border-radius:50%;
    margin:0 auto 10px;
}
.footer-container .f-img-service li div i{
    color: #7c7c8b;
    font-size: 30px;
    margin-top: 11px;
}
.f-txt-service{
    width: 90%;
    margin:0 auto;
}
.f-txt-service li{
    display: inline-block;
    width:33.33%;
    text-align: center;
    padding-bottom: 15px;
}
.f-info{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.f-info a{
    display: inline-block;
}
.f-info span{
    width:1px;
    margin: 0 15px;
}
.f-copyright{
    padding:10px 0;
}
/*返回顶部按钮*/
.return-top{
    position: fixed;
    bottom: 60px;
    right: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 50%;
    background:rgba(248,248,248,0.8);
    text-align: center;
    z-index:99;
    display: none;
}
.return-top i{
    margin-top: 8px;
    font-size: 24px;
    color: #333;
}
/*订单页面*/
.guide{
    display: flex;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #e8e8e8;
    background: #fffff5;
}
.guide .line{
    display: inline-block;
    width: 50px;
    height:inherit;
}
.guide ul{
    flex:1;
    display: inline-block;
}
.guide ul li{
    float: left;
    width: 25%;
    line-height: 42px;
    text-align: center;
}
.guide ul li a{
    color: #000;
}
.guide ul li a i{
    color: #27cd79;
}
.basic_info{
    position: relative;
    width: 100%;
    height:auto;
}
.basic_info .base{
    padding: 10px 15px;
    background: #fff;
}
.basic_info .base .title{
    padding:20px 0 12px 0;
    font-size:16px;
    font-weight:bold;
}
.basic_info .base .title .star{
    display: inline-block;
    font-size: 10px;
    color: #ffa513;
}
.price_info .promotion{
    color: #ff5500;
    padding-bottom:15px;
}
.price_info .promotion strong{
    font-size: 18px;
}
.price_info .promotion span{
    margin-left: 5px;
}
.discount{
    background: #fff5f5;
    padding:0 15px;
    margin-bottom: 10px;
}

.discount .discount_infos{
    position: relative;
}

.discount_num{
     position: absolute;
     top: 15px;
     right: 24px;
    font-size: 12px;
    color: #adadad;
 }
.discount .discount_infos i,.activity i,.city_bar i{
    position: absolute;
    top: 14px;
    right: -3px;
    font-size: 20px;
    color: #adadad;
}
.discount_tit{
    display: inline-block;
    line-height:24px;
    padding:10px 0;
    margin-right: 5px;
    font-size: 12px;
    color: #666;
}
.discount_list{
    display: inline-block;
}
.discount_list li{
    display: inline-block;
    line-height: 20px;
    padding:0 5px;
    font-size: 12px;
    color: #fff;
    background: #ff5500;
}
.activity{
    position: relative;
    display: flex;
    width: 100%;
}
.coupon{
    flex: 1;
    padding:10px 50px 10px 0;
    display: inline-block;
    overflow: hidden;
}
.coupon li{
    display: inline-block;
    width: 40px;
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
    font-size:12px;
    color: #ff5500;
    text-align: center;
    background: #fff;
    border: 1px solid #ff5500;
}
.activity .more{
    display: none;
}
/*出发地*/
.position{
    margin-bottom: 10px;
    padding: 0 15px;
    background: #fff;
}
.city_bar{
    position: relative;
    height: 46px;
    line-height: 46px;
}
.selectable{
    position: absolute;
    right: 20px;
    color: #adadad;
}
/*出发时间价格*/
.time_price{
    padding:0 10px 10px 10px;
    background: #fff;
    margin-bottom: 10px;
}
.time_price .tp_title{
    line-height: 40px;
    padding-left: 5px;
    font-size: 14px;
}
.time_price .tp_title span{
    margin-left: 5px;
    font-size: 12px;
    color: #adadad;
}
.time_bar{
    position: relative;
    padding-right: 30px;
}
.time_bar i{
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: #adadad;
}
.data_row{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.data_row:nth-child(2){
    margin-top: 10px;
}
.data_item{
    flex: 1;
    float: left;
    border: 1px solid #e5e5e5;
    margin-left:10px;
    padding:6px 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.data_item:nth-child(1){
    margin-left:0;
}

.data_item .data{
    color: #666;
}
.data_item .price{
    color: #f50;
}

/*订单页内容*/
.comment{
    margin-bottom: 10px;
    padding:15px 10px;
    background: #fff;
}
.comment .com_nav{
    position: relative;
}
.comment .com_nav{
    padding:0 5px;
}
.comment .com_nav .con_title{
    display: inline-block;
    color: #222;
    font-size: 14px;
}
.comment .com_nav .com_sat{
    display: inline-block;
    margin-left: 10px;
    color: #999;
}
.comment .com_nav .com_sat em{
    color: #f50;
}
.comment .com_nav .com_evaluate{
    position: absolute;
    right: 5px;
    color: #999;
}
.comment .satis_number{
    width: 100%;
    padding:15px 0;
    overflow: hidden;
}
.comment .satis_number li{
    float: left;
    width: 25%;
    height: auto;
    border-right: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.comment .satis_number li:last-child{
    border-right:none;
}
.satis_number li{

    text-align: center;
}
.satis_number li span{
    display: block;
    font-size: 14px;
}
.satis_number li .number{
    margin-bottom: 10px;
    color: #222;
}
.satis_number li .project{
    color: #666;
    font-size: 12px;
}
.evaluate_content{
    margin-bottom: 15px;
    padding:0 5px;
    line-height:16px;
}
.evaluate_content p{
    margin-bottom: 5px;
}
.evaluate_content p img{
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align:top;
}
.evaluate_content .tourist_name{
    margin-left: 10px;
}
.evaluate_content .tourist_time{
    margin-left: 15px;
    color: #bbb;
}
.evaluate_content .content p{
    max-height:65px;
    overflow: hidden;
    white-space:normal;
    text-overflow:ellipsis;
}
.more_comment{
    width: 100%;
    text-align: center;
}
.more_comment a{
    display: block;
    width: 100px;
    margin:0 auto;
    padding:5px 10px;
    border: 1px solid #f80;
    color: #f80;
    border-radius:5px;
}
/*品牌专线*/
.product_brand{
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
}
.product_brand .brand_name{
    padding:0 5px;
    font-size:14px;
    color:#333;
    margin:5px 0 10px 0;
}
.product_brand .brand_name em{
    color: #c9c9c9;
    margin:0 5px;
}
.product_brand .brand_name span{
    color: #23cc77;
}
.product_brand .satis_val{
    padding:0 5px;
}
.product_brand .satis_val span{
    color: #f77333;
}
/*旅行行程*/
.journey_info .journey_nav{
    height: 46px;
}
.journey_info .position_bar{
    width: 100%;
    top: 0;
    z-index:99;
    background: #fff;
}
.journey_info .position_bar li{
    display: inline-block;
    width: 25%;
    height:50px;
    line-height: 50px;
    text-align: center;
}
.journey_content{
    margin-bottom: 10px;
    height:auto;
}
.js_list li{
    margin:0 15px;
    border-top: 1px solid #ddd;
}
.js_item_bar{
    position: relative;
    margin:10px 0 10px 10px;
    border-left:1px solid #d3f5e4;
}
.js_item_bar .js_items{
    padding:0 0 10px 15px;
}
.js_item_bar .js_items .j_title{
    display: inline-block;
    margin-bottom:12px;
    font-size: 14px;
    line-height: 16px;
    color: #222;
}
.js_list .title i{
    color: #bfc1c5;
}
.js_item_bar .js_items .j_title .item_day{
    margin-right: 5px;
}
.js_item_bar .js_items .j_title .icon{
    position: absolute;
    left: -7px;
    width: 12px;
    display: block;
    height: 12px;
    line-height: 12px;
    padding:5px 0;
    background: #fff;
    color: #23cc77;
}
.js_item_bar .js_items .title .icon i{
    font-size: 12px;
}
.js_item_bar .js_items .content{
    font-size: 13px;
    color: #666;
    line-height: 16px;
}
.js_item_bar .js_items .content dt{
    float: left;
}
.js_item_bar .js_items .content dd{
    display: block;
    margin-left:58px;
    margin-bottom: 8px;
}
.journey_arrange{
    background: #fff;
    margin-bottom: 10px;
}
.journey_arrange .js_more {
    display: block;
    width: 100px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #28bf5d;
}
/*产品特色*/
.journey_content .product_char{
    background: #fff;
    padding:0 10px 10px 10px;
}
.container_bar{
    margin:10px 0;
}
.container_bar .title{
    padding-left: 5px;
    color: #222;
    font-size: 16px;
    line-height: 24px;
}
.product_char  .content{
    padding:0 15px;
}
.product_char .content .header{
    height: 67px;
    line-height: 66px;
}
.product_char .content .header img{
    float: left;
    display: inline-block;
    width: 35px;
    height: 37px;
    margin:15px 0;
}
.product_char .content .header{
    display: flex;
}
.product_char .content .header .tit{
    margin-left: 8px;
}
.product_char .content .header div{
    display: inline-block;
    flex: 1;
    text-align: right;
}
.product_char .content .header div span{
    display: inline-block;
    height: 10px;
    line-height:10px;
    margin-left: 5px;
    padding:4px 8px;
    border: 1px solid #f80;
    border-radius: 20px;
    color: #f80;
}
.product_char .content .char_list{
    line-height:20px;
    font-size: 14px;
    color: #666;
}
.product_char .content .char_list li{
    position: relative;
    margin-bottom: 10px;
}
.product_char .content .char_list li:before{
    position: absolute;
    top: 9px;
    left:-8px;
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius:100%;
    background: #f80;
}

.product_char .container_bar .pc_more{
    display: block;
    width: 100px;
    height: 26px;
    line-height: 26px;
    margin:0 auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius:4px;
    font-size: 12px;
    color: #666;
}
/*费用说明*/
.cost_detailed{
    padding-left:10px;
    background: #fff;
}
.cost_detailed dl{
    padding:0 10px 15px 10px;
}
.cost_detailed dl dt{
    position: relative;
    margin:0 0 10px 10px;
    padding-top: 10px;
    color: #222;
    font-size: 14px;
}
.cost_detailed dl dt:before{
    position: absolute;
    top: 16px;
    left:-10px;
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius:100%;
    background: #f80;
}
.cost_detailed dl dd{
    margin-left: 10px;
    color: #999;
    font-size: 14px;
    line-height: 20px;
}
.shopping_activity{
    position: relative;
    display: block;
    height: 46px;
    line-height: 46px;
    padding-left: 5px;
    border-top: 1px solid #d4d4d4;
    font-size: 14px;
    color: #222;
    background: #fff;
}
.shopping_activity .amount{
    position: absolute;
    right: 36px;
    color: #c6c6c6;
}
.shopping_activity i{
    position: absolute;
    right: 12px;
    display: inline-block;
    line-height:46px;
    font-size: 18px;
    color: #c6c6c6;
}
/*预定须知*/
.reserve_notice{
    position: relative;
    height: 46px;
    line-height: 46px;
    padding-left: 15px;
    background: #fff;
    font-size: 14px;
}
.reserve_notice a{
    color: #222;
}
.reserve_notice i{
    position: absolute;
    right: 13px;
    display: inline-block;
    line-height: 46px;
    font-size:14px;
    color: #c6c6c6;
}
/*导游路线*/
.guide_list{
    margin-top: 10px;
    background: #fff;
}
.guide_info_bar{
    padding:15px 15px 0 15px;
}
.guide_info_bar .title{
    position: relative;
    font-size: 16px;
    color: #222;
}
.guide_info_bar .title a{
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #a5a5a5;
}
.guide_info_bar .title a i{
    font-size:12px;
}
.guide_info_bar .guide_list_bar{
    position: relative;
    height: 73px;
    margin:5px 0;
    padding:0 5px;
}
.guide_info_bar .guide_list_bar a img{
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.guide_list_bar a .gl_info{
    position: absolute;
    top: 0;
    left: 80px;
    margin-top: 8px;
}
.guide_list_bar a .gl_info .gl_name {
    display: block;
    line-height:24px;
    font-size: 16px;
    font-weight:bold;
    color: #222;
}
.guide_list_bar a .gl_info .gl_describe{
    display: block;
    line-height: 18px;
    color: #222;
}
.guide_list_bar a .gl_info .gl_describe em{
    padding:0 3px;
    font-weight:bold;
    color: #f73;
}

/*线路导游*/
.journey_content .statement{
    padding:8px 12px 5px;
    color: #a5a5a5;
}
/*推荐产品*/
.recommend{
    padding:15px 5px 15px 15px;
    background: #fff;
}
.recommend .container_bar .r_list{
    overflow: hidden;
    background: #fff;
}
.recommend .r_list .r_item{
    float: left;
    width: 50%;
    margin-top: 10px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.recommend .r_list .r_item .r_img{
    position: relative;
    height: 120px;
    overflow: hidden;
}
.recommend .r_list .r_item .r_img img{
    position: absolute;
    display: block;
    width:100%;
    height: 120px;
}
.recommend .r_list .r_info{
    padding:10px 10px 6px;
    border: 1px solid #e5e5e5;
    border-top:none;
    background: #fff;
}
.recommend .r_list .r_info .r_text p{
    height: 45px;
    font-size: 14px;
    color: #222;
    line-height: 15px;
    overflow: hidden;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
}
.recommend .r_list .r_info .r_price{
    margin-top: 8px;
    color: #999;
}
.recommend .r_list .r_info .r_price span{
    color: #f50;
}
.r_info .r_price span em{
    font-size: 20px;
    font-weight:bold;
}

/*选择期团*/
.header_box{
    position: relative;
    height: 44px;
    background: #23cc77;
}
.header_box .return_before{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 50px;
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    text-align: center;
}
.header_box .r_title{
    width: 100%;
    font-size: 16px;
    height:44px;
    line-height: 44px;
    color: #fff;
    background: #2dbb55;
    text-align: center;
}
.time_price_bar .top_nav{
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    overflow: hidden;
}
.top_nav .tabs{
    position: absolute;
    left: 0;
    display: block;
}
.top_nav .tabs .tab{
    float: left;
    width: 110px;
    padding:10px 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.top_nav .tabs .tab:last-child .wrap{
    border:none;
}
.top_nav .tabs .tab .wrap{
    border-right: 1px solid #e8e8e8;
}
.top_nav .tabs .tab em{
    color: #f80;
}
.top_nav .tabs .act{
    background: #e8e8e8;
}

/*日历*/
.calendar table{
    width: 100%;
    table-layout: fixed;
    border-spacing:0;
    border-collapse: collapse;
    background: #fff;
}
.calendar .week{
    background: #999da6;
    border:none;
}
.calendar .week th{
    padding:5px 0;
    color: #fff;
    text-align: center;
}
.calendar tr{
    border-top: 1px solid #ddd;
}
.calendar tr td{
    height: 50px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}
.calendar tr td div.c_gray{
    color: #999;
}
.calendar tr td .price{
    font-size: 10px;
    color: #f50;
    white-space: normal;
}
.calendar tr td .price span{
    color: #999;
}
.color_f50{
    color: #f50;
    font-size: 16px;
}

.people_price{
    position: fixed;
    bottom: 46px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.people_price .adult,.people_price .child{
    float: left;
    width: 50%;
    height: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
}
.people_price .adult .p_title,.child .p_title{
    line-height: 24px;
    padding-bottom: 10px;
}
.people_price .number_bar{
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
.people_price .title{
    padding:8px 0;
    font-size: 12px;
    text-align: left;
}
.people_price .number_bar span{
    float: left;
    display: inline-block;
    width: 26px;
    height: 26px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.people_price .left_btn,.child .c_left_btn{
    background-color: #ccc;
}
.people_price .right_btn,.child .c_right_btn{
    background-color: #32bd60;
}
.people_price  .number_bar div{
    float: left;
    display: inline-block;
    width: 40px;
    height: 26px;
    
}
.people_price .number_bar div input{
    display: block;
    width:inherit;
    height:inherit;
    font-size: 14px;
    border:none;
    text-align: center;
    background: #f0f0f0;
    outline: none;
}
.people_price .number_bar .btn_color{
    background-color: #32bd60;
}
.next_page{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    background: #ffd9ab;
}
.next_page .text_bar{
    width: 40%;
    margin:0 auto;
    padding:5px 0;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}
.calendar .c_f50{
    color: #fff;
    background: #f80;
}
.calendar .c_f50 .price{
    color: #fff;
}
.calendar .c_f50 .price span{
    color: #fff;
}

/*text_discount*/
.text_discount{
    display: none;
    font-size:12px;
    color: #666;
    background-color: #f3f2f5;
}
.text{
    padding: 15px 12px;
}
.text span{
    line-height: 1.6;
}
.discount_bar{
    padding:0 15px;
    background: #fff;
    margin-bottom: 15px;
}
.dis_more{
    position:relative;
    font-size: 14px;
    color: #222;
    line-height:40px;
}
.dis_more i{
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 16px;
    color: #999;
    transition:all 0.3s ease-in;
}
.discount_bar .dis_content{
    padding:0 0 12px 15px;
    text-align: left;
}
.discount_bar .dis_content ol li{
    font-size:12px;
    line-height:1.6;
    list-style: inherit;
}
.padding_300{
    position: relative;
    padding-bottom: 300px;
}
/*选择期团弹出层*/
.popup_bar{
    display: none;
}
.p_wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}
.popup{
    position: fixed;
    top: 30%;
    left:13%;
    width: 74%;
    color: #000;
    background: #fff;
    border-radius:6px;
}
.popup .title{
    padding:7.4% 5.5%;
    font-size: 16px;
    color: #666;
    text-align: center;
}
.popup .confirm{
    font-size:18px;
    color: #037aff;
    line-height:36px;
    text-align: center;
    border-top: 1px solid rgb(212,212,212);
}
/*资源选择页面*/
.info header{
    position: relative;
    height: 44px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.info header i{
    position: absolute;
    left: 0;
    display: block;
    padding:0 15px;
    font-size: 18px;
    line-height: 44px;
    color: #33bd61;
    text-align: center;
}
.info header .txt{
    width: 100%;
    font-size: 16px;
    line-height:44px;
    color: #222;
    text-align: center;
}
.wrap .product_base_info{
    padding:10px 15px;
    background: #fff;
}
.wrap .product_base_info .product_name{
    padding:5px 0;
    font-size: 16px;
    color: #333;
}
.wrap .product_base_info  .p_content{
    padding:3px 0;
    font-size: 14px;
    color: #666;
}
.wrap .product_base_info  .p_content .number{
    display: inline-block;
    width:84px;
}

/*航班信息*/
.wrap  .aircraft{
    margin:10px 0;
    background: #fff;
}
.wrap .title{
    height: 44px;
    padding:0 15px;
    font-size: 16px;
    line-height:44px;
    color: #333;
    border: 1px solid #d4d4d4;
    border-left:none;
    border-right:none;
}
.title span{
    padding-left: 16px;
    font-size: 14px;
    color: #2dbb55;
}
.flight>div{
    padding:15px 15px;
}
.flight .base,.time_info,.airports{
    display: flex;
}
.flight .base{
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
.flight .left{
    text-align: left;
    flex: 1;
}
.flight .center{
    text-align: center;
    flex: 1;
}
.flight .right {
    text-align: right;
    flex: 1;
}
.time_info{
    padding:13px 0;
    font-size: 22px;
    line-height:22px;
}
.time_info .line{
    height: 11px;
    border-bottom: 1px solid #dddddd;
}
.airports{
    font-size: 12px;
    line-height: 12px;
    color: #a5a5a5;
}
.flight_bar .prompt{
    padding:10px 15px;
    font-size: 13px;
    line-height: 20px;
    color: #a5a5a5;
}
.flight_bar .more_place{
    display: block;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #2dbb55;
    text-align: center;
    border-top: 1px solid #d4d4d4;
}
/*shuttle*/
.c_green{
    font-size: 14px;
    line-height:24px;
    color:#2dbb55;
}
.hot_hotel{
    background: #fff;
    margin-bottom: 10px;
}
.h_content{
    display: flex;
    padding:12px 15px;
}
.h_content .img{
    display: inline-block;
    width: 90px;
    height: 72px;
    margin-right: 5px;
    overflow: hidden;
}
.h_content .img img{
    width: 100%;
    height: 100%;
}
.h_content .content{
    flex: 1;
}
.h_content .content .row{
    display: flex;
}
.h_content .content .h_name{
    flex: 1;
    font-size: 14px;
}
.content .type{
    padding:5px 0 15px 0;
}
.h_border{
    border-top: 1px dashed #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.h_content{
    display: flex;
}
.h_content .h_left{
    flex: 1;
}
.room_name{
    font-size: 14px;
    color: #666;
}
.detail{
    padding:5px 0;
    font-size: 12px;
    color: #a5a5a5;
}

.h_left_btn,.h_right_btn {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height:28px;
    text-align: center;
    background:#ecedee;
}
.h_left_btn{
    float: left;
    opacity:0.5;
}
.h_right_btn{
    float: right;
    background: #ecedee;
}
.hot_hotel .h_content .input_bar input{
    width: 28px;
    height: 28px;
    line-height:28px;
    font-size: 14px;
    border: none;
    text-align: center;
    background: #fff;
    outline: none;
}
.hot_hotel .h_more,.recommend_product .h_more,.insurance .h_more,.discount_info .h_more{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #2dbb55;
    text-align: center;
}

/*recommend_product*/
.recommend_product{
    background: #fff;
    margin-bottom:10px;
}
.r_product_list{
    padding:0 15px;
}
.r_product_list .list{
    position: relative;
    display: flex;
    border-bottom: 1px solid #d4d4d4;
}
.r_product_list .list:last-child{
    border:none;
}
.left_list_box{
    flex: 1;
    padding:10px 0;
}
.left_list_box .rp_name{
    font-size: 14px;
    line-height:24px;
    color: #666;
}
.rp_text_tip{
    font-size: 12px;
    line-height:24px;
    color: #2dbb55;
}
.left_list_box .date select{
    width: 106px;
    height: 24px;
    padding-left: 5px;
    line-height: 24px;

}
.right_list_box{
    padding:10px 0;
    width: 22%;
    overflow: hidden;
}
.right_list_box p{
    font-size: 12px;
    line-height:24px;
    color: #666;
}
.right_list_box p span{
    font-size: 14px;
    color: #f50;
}
.right_list_box .selece{
    position: absolute;
    right: 6px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
}
.right_list_box .selece i,.right_list i{
    display: block;
    width: 18px;
    height: 18px;
    line-height:18px;
    font-size: 20px;
    color: #2dbb55;
}
.recommend_product .h_more{
    border-top: 1px solid #d4d4d4;
}
.insurance{
    background: #fff;
    margin-bottom: 10px;
}
.list_info{
    padding:0 15px;
}
.list_info .list{
    position: relative;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #d4d4d4;
}
.list_info .list:last-child{
    border:none;
}
.list_info .list .left_list{
    flex: 1;
    font-size: 14px;
    line-height:24px;
    color: #666;
}
.insurance_list .selece{
    position: absolute;
    right: 6px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
}
.insurance_list p span{
    font-size: 14px;
    color: #f50;
}
.insurance .h_more{
    border-top: 1px solid #d4d4d4;
}
.discount_info{
    background: #fff;
    margin-bottom: 10px;
}
.discount_info .info_list{
    padding: 15px;
    border-bottom: 1px solid #d4d4d4;
}
.discount_info .info_list .list{
    position: relative;
    display: flex;
    width: 100%;
}
.discount_info .info_list .left_list{
    flex: 1;
    font-size: 14px;
    line-height:24px;
    color: #666;
}
.discount_info .adult_price span{
    font-size: 14px;
    color: #f50;
}
.discount_info  .selece{
    position: absolute;
    right: 6px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
}
.info .wrap{
    margin-bottom:100px;
}
.info footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    line-height:48px;
    background: #fff;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.f_content{
    display: flex;
    width: 100%;
}
.info footer .f_price{
    flex: 1;
}
.info footer .submit .f_btn{
    display: block;
    width: 115px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #f73;
}
.info footer .f_tip{
    padding-right: 10px;
}
.info footer .f_price{
    padding-left: 15px;
    font-size: 13px;
}
.info footer .f_price span{
    font-size: 18px;
    font-weight:bold;
    color: #f50;
}
/*酒店详情页*/
.hotel_header{
    position: relative;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
    background:#EDF0F5;
}
.hotel_header span{
    position: absolute;
    left: 0;
    padding:0 12px;
    text-align: center;
}
.hotel_header span i{
    font-size: 30px;
    line-height:44px;
    color: #33bd61;
}
.hotel_header h1{
    font-size: 16px;
    text-align: center;
}
.hotel_base_info{
    display: flex;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.hotel_base_info .base_info{
    flex: 1;
    position: relative;
    margin-right: 30px;
}
.hotel_base_info .base_info .title{
    font-size: 14px;
}
.hotel_base_info .base_info .type{
    position: absolute;
    bottom: 26px;
    left: 0;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.hotel_base_info .base_info .score{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #069bdf;
}
.score .s_comment{
    float: right;
}
.score em{
    font-size: 16px;
    font-weight:bold;
}
.hotel_base_info img{
    display: inline-block;
    width: 85px;
    height: 85px;
    border-radius:5px;
}
.details{
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.details .address{
    position: relative;
    margin-left: 24px;
    line-height: 32px;
    border-bottom: 1px solid #d4d4d4;
}
.details .address i{
    position: absolute;
    top: 11px;
    left: -20px;
    font-size: 14px;
    color: #999;
}
.details .more_info{
    position: relative;
    margin-left: 24px;
    line-height:24px;
}
.more_info>i{
    position: absolute;
    top: 18px;
    left: -21px;
}
.more_info .info .d_text{
    line-height:24px;
}
.more_info .info .icon i{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    line-height:14px;
    font-size: 14px;
    color: #999;
}
.hotel_content{
    background: #fff;
    margin-bottom: 10px;
}
.title{
    height: 44px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 44px;
    color: #222;
    border-bottom: 1px solid #d4d4d4;
    border-right: none;
    background: #fff;
}
.hotel_content .facilities_item{
    padding:10px;
    overflow: hidden;
}
.hotel_content .facilities_item .item{
    float: left;
    width: 33.33%;
    line-height: 30px;
}
.address{
    font-size: 12px;
    background: #fff;
    margin-bottom: 10px;
}
.service{
    font-size: 12px;
    background: #fff;
    margin-bottom: 10px;
}
.service div{
    display: flex;
    padding: 15px 10px;
}
.service .phone{
    width: 64px;
}
.service .number{
    flex:1;
}
.introduce{
    background: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.introduce p{
    padding: 10px;
    line-height: 30px;
}

.type_lists .t_list{
    margin-bottom: 10px;
    background: #fff;
}
.type_lists .t_list a{
    display: flex;
    height:auto;
    padding:10px;
}
.type_lists .t_list .left_bar{
    flex: 1;
    display: inline-block;
}
.type_lists .t_list .right_bar{
    position: relative;
    display: inline-block;
    width: 30%;
}
.type_lists .t_list .right_bar .r_confirm{
    position: absolute;
    bottom: 0;
    line-height:20px;
    color: #fff;
    text-align: center;
    background: #ff5346;
}
.type_lists .t_list .right_bar .r_confirm p{
    padding:4px 10px;
    color: #ff5346;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-top:none;
}
.right_bar .lowest_price{
    font-size: 12px;
    color: #999;
}
.right_bar .lowest_price em{
    font-size:16px;
    font-weight:bold;
    color: #fd7d73;
}
.right_bar i{
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #33bd61;
}
.right_bar em{
    color: #999;
}
.left_bar .type_info .tit{
    font-size: 16px;
    color: #222;
    line-height:24px;
    margin-bottom: 10px;
}
.left_bar .type_info .tip{
    color: #666;
}
.left_bar .type_info .tip p{
    line-height: 20px;
}
.hotel_policy{
    background: #fff;
}
.policy_bar{
    position: relative;
    padding:0 40px 0 10px;
}
.hotel_policy .h_date{
    padding:10px 0;
    font-size: 14px;
    line-height: 24px;
}
.h_text{
    padding-bottom:10px;
    font-size: 12px;
    line-height: 24px;
}
.policy_bar i{
    position: absolute;
    top: 34px;
    right: 12px;
    font-size:1.8rem;
    color: #d4d4d4;
}
#mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 99;
}
#mask .m_policy{
    padding:20% 10px 10px;
    font-size: 14px;
    line-height:20px;
    color: #fff;
}
#mask .m_policy h2{
    padding-top: 20px;
    padding-bottom:7px;
    font-size: 14px;
    color: #33bd61;
}

/*submit_page*/
.submit_page{
    position: relative;
    margin-bottom: 200px;;
}
.submit_page .header_box{
    margin-bottom: 10px;
    background: #fff;
}
.submit_page .header_box .title{
    color: #000;
    text-align: center;
}
.contacts_info .title{
    padding-left: 15px;
}
.submit_page .header_box .return_before{
    color:#33bd61;
}
.contacts_info{
    background: #fff;
}
.contacts_info .c_content{
    padding-left:15px;
    font-size: 14px;
    color: #666;
}
.contacts_info .c_content .c_contacts{
    display: flex;
    align-items:center;
    line-height: 20px;
}
.contacts_info .c_content span{
    display: inline-block;
    width: 70px;
}
.contacts_info .c_content  input{
    flex: 1;
    display: inline-block;
    margin-right: 15px;
    padding:10px 0 10px 10px;
    border:none;
    background: #fff;
}
.contacts_info .c_content .phone_num{
    display: flex;
    align-items:center;
    border-top: 1px solid #eee;
}
.contacts_info .c_content .email{
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
}
.personal_info{
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
}
.personal_info .title span{
    color: #999;
    font-size: 14px;
}
.personal_info .addTo{
    padding:0 15px;
    font-size: 14px;
}
.personal_info .addTo .add_name span{
    margin-right: 5px;
    width: 20%;
    height: 32px;
    line-height: 32px;
    color: #000;
    text-align: center;
    border: 1px solid #d4d4d4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.personal_info .addTo .addTo_item{
    display:flex;
    padding:13px 0;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}
.personal_info .addTo li:last-child{
    border-bottom:none;
}
.personal_info .addTo .addTo_item .tit{
    display: inline-block;
    width: 70px;
    color: #666;
}
.personal_info .addTo .addTo_item .txt{
    color: #a5a5a5;
}
.personal_info .addTo .add_name .a_select{
    background:url("../image/background-img01.png") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    border:none;
}

.limit{
    background: #fff;
    margin-top: 10px;
}
.limit .content_bar{
    padding: 0 10px;
    border-bottom: 1px solid #d4d4d4;
}
.limit .content_bar p{
    padding:6px 0;
    font-size: 14px;
    color: #666;
}
.limit .tip_confirm{
    position: relative;
    padding-left:40px;
    height: 46px;
    line-height:46px;
    font-size: 14px;
}
.limit .tip_confirm .selece,.confirm_clause .selece{
    position: absolute;
    left: 10px;
    top: 14px;
    width: 16px;
    height: 16px;
    line-height:16px;
    border: 1px solid #d4d4d4;
}
.limit .tip_confirm .selece i,.confirm_clause .selece i{
    display: block;
    width: 18px;
    height: 18px;
    line-height:18px;
    font-size: 20px;
    color: #2dbb55;
}
.confirm_clause{
    position: relative;
    padding:12px 20px 0 40px;
    font-size: 14px;
}
.confirm_clause a{
    color: #23cc77;
}

.sPage_footer{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left:15px;
    background: #fff;
    border-top: 1px solid #eee;
}
.sPage_footer .total{
    flex: 1;
    font-size: 12px;
}
.sPage_footer .total span{
    font-size:18px;
    color:#f50;
    font-weight:bold;
}
.sPage_footer .total a{
    float: right;
    padding-right: 10px;
    font-size: 14px;
    color: #2dbb55;
}
.sPage_footer .next_step{
    width: 114px;
    padding-right: 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #f73;
}

#tips{
    display: none;
    position: absolute;
    top:33%;
    left:15%;
    width: 60%;
    margin:0 auto;
    padding:15px 20px;
    font-size: 14px;
    color: #fff;
    line-height:24px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    z-index:99;
}

/*常用信息页面 add_common_info*/
.add_common_info header,.new_common header{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    color: #fff;
    background: #33bd61;
    overflow: hidden;
}
.add_common_info  header .r_title,.new_common header .r_title{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.add_common_info  header .return_before,.new_common header .return_before{
    position: absolute;
    left: 10px;
    font-size:16px;
}
.add_common_info  header .r_confirm,.new_common header .r_confirm{
    position: absolute;
    right: 10px;
    font-size: 18px;
}
.aci_list li{
    position: relative;
    margin-top: 6px;
    padding:10px 15px;
    background: #fff;
}
.aci_list li .edit_icon{
    position: absolute;
    top:22px;
}
.aci_list li .edit_icon i{
    font-size:24px;
    color: #747474;
}
.aci_list li .aci_middle{
    position: relative;
    margin-left:30px;
    line-height:24px;
}
.aci_list li .aci_middle .aci_name{
    font-size: 16px;
    color: #222;
}
.aci_list li .aci_middle .id_number{
    font-size: 12px;
    color: #999;
}
.aci_list li .aci_middle .select_icon{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #33bd61;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.add_but{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size:16px;
    color: #fff;
    background: #fda543;
}
.add_but .btn_icon{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size:20px;
    color: #fff;
    border-radius:50%;
}
.select_icon i{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #33db61;
}
/*填写新增游客信息页面*/
.people_info{
    padding:0 10px;
    background: #fff;
}
.people_info ul li{
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;
}
.people_info ul li span{
    display: inline-block;
    width: 80px;
    padding:15px 0;
}
.people_info ul li input{
    flex: 1;
    margin-left:5px;
    border:none;
    outline: none;
}
.people_info ul li select{
    flex: 1;
    border:none;
    outline:none;
}
.people_info ul .n_type{
    position: relative;
}
.people_info ul li .keep{
    position: absolute;
    top: 9px;
    right: 0;
    display: block;
    padding:0;
    width: 30px;
    height: 30px;
    line-height:30px;
    text-align: center;
    background: #fff;
}
.people_info ul li .keep i{
    font-size: 28px;
    color: #d4d4d4;
}
.people_info #gender{
    position: relative;
}
